body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #faf8ef;
}

.container {
  max-width: 500px;
  margin: 20px auto;
}

h1 {
  color: #776e65;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  background-color: #a0bba8;
  padding: 10px;
  border-radius: 10px;
}

.tile {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  color: #657770;
  background-color: #b4cdbe;
}

.tile[data-value="2"] {
  background-color: #daeee3;
}

.tile[data-value="4"] {
  background-color: #c8eddf;
}

.tile[data-value="8"] {
  background-color: #8dcaa8;
  color: #f9f6f2;
}

.tile[data-value="16"] {
  background-color: #77b9a4;
  color: #f9f6f2;
}

.tile[data-value="32"] {
  background-color: #8fb6a8;
  color: #f9f6f2;
}

.tile[data-value="64"] {
  background-color: #6fa893;
  color: #f9f6f2;
}

.tile[data-value="128"] {
  background-color: #55aea1;
  color: #f9f6f2;
}

.tile[data-value="256"] {
  background-color: #54c7cb;
  color: #f9f6f2;
}

.tile[data-value="512"] {
  background-color: #6ba5b3;
  color: #f9f6f2;
}

.tile[data-value="1024"] {
  background-color: #37a49b;
  color: #f9f6f2;
}

.tile[data-value="2048"] {
  background-color: #6b989f;
  color: #f9f6f2;
}

#score {
  margin-top: 20px;
  font-size: 20px;
  color: #657771;
}
